/src/Servidor_A/arquivos/
/src/Servidor_B/arquivos/
/src/Servidor_Principal/arquivos/
/src/Servidor_Reserva_Principal/arquivos/

/bin/Servidor_A/arquivos/
/bin/Servidor_B/arquivos/
/bin/Servidor_Principal/arquivos/
/bin/Servidor_Reserva_Principal/arquivos/